body {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    text-shadow: 4px;
}

header {
    border-bottom: 10px black;
}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}